article{
    .profile{
        border: teal 2px solid;
        margin-top: 2rem;
        margin-left: 10rem;
    }
    .profile-txt{
        
        margin-top: 2rem;
        margin-right: 10rem;
    }
}